{% extends "base.html" %}

{% block content%}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis rem ratione ab illum in necessitatibus ea dignissimos. Officiis, assumenda rerum. Quibusdam aspernatur rem hic accusantium. Hic a neque deserunt quam expedita architecto exercitationem reprehenderit rerum alias sit sed, aspernatur perspiciatis mollitia esse minima eius dolor, maxime, inventore dicta velit aperiam placeat provident distinctio? Beatae atque placeat sequi, animi harum repellat quas praesentium, accusamus, sapiente optio voluptate tenetur. Officia quod omnis modi corporis fugit excepturi explicabo corrupti maxime recusandae aliquam dolores, deserunt neque, sit odit illo aut saepe amet esse ut aliquid natus molestiae nam iusto. Quod recusandae sed quidem ipsa.</p>
        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/"">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup/">
                Signup
            </a>
        </div>
    </section>
</main>

{% endblock %}